<div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<button class="btn btn-primary">
					<span>Create</span>
				</button>
				<button class="btn btn-primary">
					<span>Edit</span>
				</button>
			</div>
			<div class="col-md-8 col-md-offset-2">
				<table>
					<thead>
						<tr>
							${ instance.eachTemplateByName('propertyHead') }
						</tr>
					</thead>
					<tbody>
						<tr>
							${ instance.eachTemplateByName('propertyDetail') }
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>